<%@ tag 
	body-content="empty" 
	import="java.util.Date"
	import="java.text.SimpleDateFormat"
%>

<%
	Date date = new Date();
	SimpleDateFormat sd = new SimpleDateFormat("yyyy-MM-dd");
	out.println(sd.format(date));
%>
