/* Header ------------------------*/

header.top {
	background-color: #CC9966;
	margin: 1.5% 10px 0px 10px;
	height: 150px;
	border-radius: 15px;
}

div.logo {
	float: left;
}


div.title {
	float: left;
	margin: 36px 5px 0px 20px;
}

div.title h2 {
	color: #363636;
	font-size: 185%;
	text-align: center;
}

div#account {
	margin: 10px 20px 0px 10px;
	float: right;
	font-size: 115%;
}

div#language {
	margin: 10px 20px 0px 10px;
	float: right;
	font-size: 115%;
}

/* Body-------------------------- */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 10px;
}

/* Body div ----------------------*/

div#all {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

div#main {
	background-color: #FFF8DC;
	border-radius: 15px;
	padding: 2%;
	margin: 10px 10px 10px 10px;
	font-size: 105%;
	vertical-align: center;
	min-height: 280px;
}

div.message {
	vertical-align: center;
	background-color: #FFA500;
	border-radius: 15px;
	padding: 1%;
	margin: 10px 10px 10px 10px;
}

div.message p {
	text-align: center;
	margin: 0 auto;
	font-size: 130%;
}

div#existing p {
	font-size: 110%;
}

div a {
	color: #333333;
	font-size: 125%;
}

div p {
	color: #333333;
	font-size: 110%;
}

div.tableRow {
	display: table-row;
}

div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

div.middleRow {
	display: table;
	margin: 0 auto;
	vertical-align: center;
}

div.middleRow p {
	display: table-cell;
	vertical-align: center;
	padding: 5px;
	margin: 0 auto;
}



/* Footer -----------------------*/

footer {
	border-radius: 15px;
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	padding: 1.7%;
	margin: 10px 10px -10px 10px;
	font-size: 90%;
}


/* Single elements -------------*/

img {
	margin: 20px 20px 0px 20px;
}


h1 {
	font-size: 120%;
	color: #954b4b;
}

h2 {
	font-size: 110%;
	color: #954b4b;
}

a:link {
	color: #b76666;
	text-decoration: none;
	border-bottom: thin dotted #b76666;
}

a:visited {
	color: #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47;
}

nav {
	margin: 10px 10px 0px 10px;
	text-align: center;
	border-radius: 10px;
}

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	background-color: #efe5d0;
	border-left: 1px solid #CC9966;
	border-right: 1px solid #CC9966;
	display: inline;
	padding: 5px 10px 5px 10px;
	position: relative;
	border-radius: 10px;
}

nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
	padding: 0 30px;
}

nav ul li.selected {
	background-color: #c8b99c;
}


table {
	border-radius: 3px;
	border: 2px solid #CC9966;
	margin: auto;
	position: relative;
}

caption {
	font-size: 130%;
	color: #954b4b;
	margin: 0px 10px 20px 10px;
}


th {
	font-weight: normal;
	color: #EEE8AA;
	padding: 10px;
}

td {
	color: #675c47;
	border-top: 1px dashed #fff;
	padding: 10px;
	background: #FFFFE0;
}

tr:hover td {
	background: #efe5d0;
}

input, option, select {
	height: 20px;
	background-color: #ffffff;
	border-radius: 2px;
	border: 1px solid #675c47;
	font-size: 15px;
	cursor: pointer;
}


#filter{
	
	width: 100px;
}



