<%--=========================================================================== 
Header language choose (top area). 
===========================================================================--%>
<div id="language">
	<div class="tableRow">
		<p>
			<fmt:message key="index_jsp.language" />
		</p>
	</div>

	<form action="changeLocale.jsp" method="post">
		<input type="hidden" name="page" value="login" /> <select
			name="locale">
			<c:forEach items="${applicationScope.locales}" var="locale">
				<c:set var="selected"
					value="${locale.key == currentLocale ? 'selected' : '' }" />
				<option value="${locale.key}" ${selected}>${locale.value}</option>
			</c:forEach>
		</select>
		<div class="tableRow">
			<input type="submit"
				value="<fmt:message key="index_jsp.applyLocale"/>">
		</div>
	</form>
	<div class="tableRow">
		<p>
			<fmt:message key="index_jsp.currentDate" />
			:
		</p>
	</div>
	<div class="tableRow">
		<p>
			<my:currentDate />
		</p>
	</div>
</div>

