<%--=========================================================================== 
Filter bar (top area). 
===========================================================================--%>

<table>

	<caption>
		<fmt:message key="search_bar_jspf.filters" />
	</caption>

	<tr>
		<td><fmt:message key="search_bar_jspf.name" /></td>
		<td><fmt:message key="search_bar_jspf.author" /></td>
		<td><fmt:message key="search_bar_jspf.publisher" /></td>
		<td><fmt:message key="search_bar_jspf.genre" /></td>
		<td><fmt:message key="search_bar_jspf.date" /></td>
	</tr>


		<tr>
			<form id="search_form" action="controller" method="post">
				<input type="hidden" name="command" value="findBookByParameter" /> 
					<td><input id="filter" type="text" name ="name" value="${name}"/></td>
					<td><input id="filter" type="text" name ="author" value="${author}"/></td>
					<td><input id="filter" type="text" name ="publisher" value="${publisher}"/></td>
					<td><input id="filter" type="text" name ="genre" value="${genre}"/></td>
					<td><input type="date" name ="publicationDate" value="${publicationDate}"/></td>
		</tr>
		
				
		<tr>
			<td><fmt:message key="sort_bar_jspf.reverse" /></td>
			<td><fmt:message key="search_bar_jspf.sortBy" /></td>
			<td><fmt:message key="search_bar_jspf.search" /></td>
			<td><fmt:message key="search_bar_jspf.clearFilter" /></td>
		</tr>
		
				
		<tr>
					<td>
							<select name="reverse">
								<c:choose>
									<c:when test="${reverse == true}">
										<option value="true" selected><fmt:message key="books_jspf.yes" /></option>
										<option value="false"><fmt:message	key="books_jspf.no" /></option>
									</c:when>
									<c:otherwise>
										<option value="true"><fmt:message key="books_jspf.yes" /></option>
										<option value="false" selected><fmt:message	key="books_jspf.no" /></option>
									</c:otherwise>
								</c:choose>
							</select>
					</td>
		
					<td>
							<select name="orderBy">
								<c:choose>
									<c:when test="${orderBy == 'naturalOrder'}">
										<option value="naturalOrder"  selected><fmt:message key="sort_bar_jspf.naturalOrder"/></option>
									</c:when>
									<c:otherwise>
										<option value="naturalOrder"><fmt:message key="sort_bar_jspf.naturalOrder"/></option>
									</c:otherwise>
								</c:choose>
								<c:choose>
									<c:when test="${orderBy == 'name'}">
										<option value="name"  selected><fmt:message key="sort_bar_jspf.byName"/></option>
									</c:when>
									<c:otherwise>
										<option value="name"><fmt:message key="sort_bar_jspf.byName"/></option>
									</c:otherwise>
								</c:choose>
								<c:choose>
									<c:when test="${orderBy == 'author'}">
										<option value="author"  selected><fmt:message key="sort_bar_jspf.byAuthor"/></option>
									</c:when>
									<c:otherwise>
										<option value="author"><fmt:message key="sort_bar_jspf.byAuthor"/></option>
									</c:otherwise>
								</c:choose>
								<c:choose>
									<c:when test="${orderBy == 'publisher'}">
										<option value="publisher"  selected><fmt:message key="sort_bar_jspf.byPublisher"/></option>
									</c:when>
									<c:otherwise>
										<option value="publisher"><fmt:message key="sort_bar_jspf.byPublisher"/></option>
									</c:otherwise>
								</c:choose>
								<c:choose>
									<c:when test="${orderBy == 'publicationDate'}">
										<option value="publicationDate"  selected><fmt:message key="sort_bar_jspf.byPubDate"/></option>
									</c:when>
									<c:otherwise>
										<option value="publicationDate"><fmt:message key="sort_bar_jspf.byPubDate"/></option>
									</c:otherwise>
								</c:choose>
								<c:choose>
									<c:when test="${orderBy == 'popularity'}">
										<option value="popularity"  selected><fmt:message key="sort_bar_jspf.byPopularity"/></option>
									</c:when>
									<c:otherwise>
										<option value="popularity"><fmt:message key="sort_bar_jspf.byPopularity"/></option>
									</c:otherwise>
								</c:choose>
							</select>
					</td>
					
					<td><input id="filter" type="submit" value="<fmt:message key="search_bar_jspf.search" />"></td>
					<td><input type="submit" name="clear" value="<fmt:message key="search_bar_jspf.clearFilter" />"></td>

		</tr>
		
	</form>
</table>


