<%--=========================================================================== 
Orders table (middle area). 
===========================================================================--%>

<table>
	<caption>
		<fmt:message key="orders_jspf.orders" />
		:
	</caption>
	<tr>
		<td><fmt:message key="orders_jspf.orderId" /></td>
		<td><fmt:message key="orders_jspf.userId" /></td>
		<td><fmt:message key="orders_jspf.moreInfUser" /></td>
		<td><fmt:message key="orders_jspf.bookId" /></td>
		<td><fmt:message key="orders_jspf.moreInfBook" /></td>
		<td><fmt:message key="orders_jspf.status" /></td>
		<td><fmt:message key="orders_jspf.isInRoom" /></td>
		<td><fmt:message key="orders_jspf.returnDate" /></td>
		<td><fmt:message key="orders_jspf.give" /></td>
	</tr>
	<c:set var="list" value="${orders}" />
	<c:forEach var="order" items="${orders}">
		<tr>
			<td>${order.getOrderId()}</td>
			<td>${order.getUserId()}</td>
			<td>
				<form id="find_user" action="controller" method="post">
					<input type="hidden" name="command" value="findUser" /> 
					<input type="hidden" name="userId" value="${order.getUserId()}" /> 
					<input type="submit" value="<fmt:message key="books_jspf.moreInf"/>">
				</form>
			</td>
			<td>${order.getBookId()}</td>
			<td>
				<form id="find_book" action="controller" method="post">
					<input type="hidden" name="command" value="findBook" /> 
					<input type="hidden" name="bookId" value="${order.getBookId()}" /> 
					<input type="submit" value="<fmt:message key="books_jspf.moreInf"/>">
				</form>
			</td>
			<td>${order.getStatus()}</td>
			<td>${order.isInReadingRoom()}</td>
			<td>${order.getReturnDate()}</td>
			<td>
				<form id="give_book" action="controller" method="post">
					<input type="hidden" name="command" value="giveBook" /> <input
						type="hidden" name="orderId" value="${order.getOrderId()}" /> <input
						type="submit" value="<fmt:message key="orders_jspf.give"/>">
				</form>
			</td>
		</tr>
	</c:forEach>
</table>


