<%--=========================================================================== 
users table (middle area). 
===========================================================================--%>

<table>
	<caption>
		<fmt:message key="users_jspf.users" />
	</caption>
	<tr class="head">
		<td><fmt:message key="users_jspf.userId" /></td>
		<td><fmt:message key="profile_jsp.login" /></td>
		<td><fmt:message key="profile_jsp.email" /></td>
		<td><fmt:message key="profile_jsp.name" /></td>
		<td><fmt:message key="profile_jsp.surname" /></td>
		<td><fmt:message key="profile_jsp.phone" /></td>
		<td><fmt:message key="profile_jsp.country" /></td>
		<td><fmt:message key="profile_jsp.city" /></td>
		<td><fmt:message key="profile_jsp.regDate" /></td>
		<td><fmt:message key="profile_jsp.isBlocked" /></td>
		<td>books in use</td>
		<td><fmt:message key="users_jspf.block" /></td>
	</tr>
	<c:set var="list" value="${users}" />
	<c:forEach var="user1" items="${users}">
		<tr>
			<td>${user1.getUserId()}</td>
			<td>${user1.getLogin()}</td>
			<td>${user1.getEmail()}</td>
			<td>${user1.getName()}</td>
			<td>${user1.getSurname()}</td>
			<td><myTag:changePhone myPhone="${user1.getPhone()}"/></td>
			<td>${user1.getCountry()}</td>
			<td>${user1.getCity()}</td>
			<td>${user1.getRegistrationDate()}</td>
			<td>${user1.isBlocked()}</td>
			<td>${user1.getBooksInUse()}</td>
			<td>
				<form id="block_user" action="controller" method="post">
					<input type="hidden" name="command" value="blockUser" />
					<input type="hidden" name="userId" value="${user1.getUserId()}" />
					<input type="hidden" name="isBlocked" value="${user1.isBlocked()}" />
					<c:choose>
						<c:when test="${user1.isBlocked() == false}">
							<input type="submit" value="<fmt:message key="users_jspf.block"/>">
						</c:when>
						<c:when test="${user1.isBlocked() == true}">
							<input type="submit" value="<fmt:message key="users_jspf.unblock"/>">
						</c:when>
					</c:choose>
				</form>
			</td>
		</tr>
	</c:forEach>
</table>


